body{
  background-color: pink;
}
#form01{
  background-color: aquamarine;
  width:800px;
  height: 500px;
  position:absolute;
  top:100px;
  left:200px;
  padding: 30px;
}
#txtS{
  width:600px;
  height: 200px;
}

#btnProcess{
  width: 600px;
}